* {
  outline: none;
  box-sizing: border-box;
}

html {
  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }
  @include media-breakpoint-down(md) {
    font-size: 12px;
  }
}

body {
  @include rem(font-size, 14px);

  color: $color-grey-dark;

  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
}


h1, .h1 { @include rem(font-size, 34px); }
h2, .h2 { @include rem(font-size, 28px); }
h3, .h3 { @include rem(font-size, 24px); }
h4, .h4 { @include rem(font-size, 20px); }
h5, .h5 { @include rem(font-size, 16px); }

.text-lg { @include rem(font-size, 24px); }
.text-md { @include rem(font-size, 18px); }
.text-sm { @include rem(font-size, 14px); }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {

  h1, .h1 { @include rem(font-size, 40px); }
  h2, .h2 { @include rem(font-size, 32px); }
  h3, .h3 { @include rem(font-size, 26px); }
  h4, .h4 { @include rem(font-size, 22px); }
  h5, .h5 { @include rem(font-size, 20px); }

  .text-lg { @include rem(font-size, 30px); }
  .text-md { @include rem(font-size, 21px); }
  .text-sm { @include rem(font-size, 16px); }

}
