@include media-breakpoint-up(sm) {
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
}

@include media-breakpoint-up(md) {
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-70 {
    width: 70% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
}

@include media-breakpoint-up(lg) {
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
}

@include media-breakpoint-up(xl) {
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-100 {
    width: 100% !important;
  }
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0 !important;
}

.status-box {
  max-width: 100%;
  background: $color-white;
  box-shadow: 0 0px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.inline-text-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-weight: 600;

  &.active {
    color: $color-green;
  }

  &:hover {
    color: $color-green;
    text-decoration: none;
  }
}
