.game-container {
  height: 95vh;
}

.game-filters {
  position: relative;
  max-width: 100%;
  background: $color-green;
  border: 2px solid $color-blue;
  height: 15%;
}

.game-box {
  position: relative;
  max-width: 100%;
  background: $color-green;
  border: 2px solid $color-blue;
  height: 85%;

  .game-answer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    background: red;
    height: 10%;
    text-align: center;

    input {
      max-width: 400px;
      background: white;
      color: $color-blue;
      text-align: center;
    }
  }

}
