nav {
  list-style: none;

  li {
    cursor: pointer;
    font-weight: 700;
    position: relative;
    a {
      position: relative;
      text-decoration: none;
      color: inherit;
      &.active, &:hover, &:focus, {
        text-decoration: none;
        color: $color-green;
      }
      &:hover:after, &.active:after {
        width: 100%;
        left:0%;
      }

      &:after {
        content: "";
        position: absolute;
        height: 4px;
        background: $color-green;
        bottom: -10px;
        width: 0%;
        left: 50%;
        transition: all 400ms;
        transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
        overflow: hidden;
      }

    }
  }


}


.burger {
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease-out;

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #1F4E79;
    margin: 8px 0;
    transition: 0.5s;
  }

  &.openMenu  {
    div {background: white;}

    div.bar1 {
      transform: rotate(-45deg) translate(-8px, 7px);
    }

    div.bar2 {opacity: 0;}

    div.bar3 {
      transform: rotate(45deg) translate(-9px, -9px);
    }
  }
}

.sideNav {
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 998;
  background: #1F4E79;
  color: $color-white;
  box-sizing: border-box;
  transition: transform 0.5s ease-out;
  @include rem(font-size, 20px);
  text-align: center;

  li {
    letter-spacing: 1.3px;
  }
}

.openNav {
  transform: translateX(0);
}

.closeNav {
  transform: translateX(100%);
}
