nav {
  list-style: none;
  background: $color-blue;

  li {
    cursor: pointer;
    position: relative;
    color: $color-white;
    letter-spacing: 1.2px;
    a {
      position: relative;
      text-decoration: none;
      color: inherit;
      &.active, &:hover, &:focus, {
        text-decoration: none;
        color: $color-green;
      }
      &:hover:after, &.active:after {
        width: 100%;
        left:0%;
      }

      &:after {
        content: "";
        position: absolute;
        height: 4px;
        background: $color-green;
        bottom: -10px;
        width: 0%;
        left: 50%;
        transition: all 400ms;
        transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
        overflow: hidden;
      }
    }
  }
}

.logo {
  z-index: 998;
  color: white;
}

.burger {
  cursor: pointer;
  transition: all 0.5s ease-out;
  z-index: 998;
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: $color-white;
    margin: 8px 0;
    transition: 0.5s ease-out;
  }

  &.openMenu  {
    div {background: $color-green;}

    div.bar1 {
      transform: rotate(-45deg) translate(-8px, 7px);
    }

    div.bar2 {
      opacity: 0;
    }

    div.bar3 {
      transform: rotate(45deg) translate(-9px, -9px);
    }
  }
}

.sideNav {
  opacity: 0.95;
  @include rem(font-size, 25px);
  position: fixed;
  width: 100%;
  max-width:100%;
  height: 100%;
  right: 0;
  top: 40px;
  z-index: 997;
  background: #1F4E79;
  color: $color-white;
  box-sizing: border-box;
  transition: transform 0.55s ease-out;
  text-align: center;

}

.openNav {
  transform: translateX(0);
}

.closeNav {
  transform: translateX(100%);
}
